.idea
.idea?
target
project/target
*.xml
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.iml
.Trashes
ehthumbs.db
Thumbs.db
.DS_Store
.DS_Store?
*.DS_Store
/bin
/project/project
/project/target
.cache-main
.classpath
.idea/
.project
.settings/
.worksheet/
/metastore_db/
.ipynb_checkpoints
